/* CarouselComponent.css */

/* Hide the default arrows */
.slick-prev,
.slick-next {
  display: none !important;
}

.carousel-container {
  max-width: 50rem;
  /* Set a maximum width for the carousel container */
  margin: 0 auto;
  /* Center the carousel horizontally */
}

.slide {
  width: 12.5rem;
  /* Set a fixed width for each slide */
  margin: 0 0.625rem;
  border-radius: 1.875rem;
  /* Add margin between slides */
}

.mt{
  margin-top: 3.25rem;
}