.earn-card {
    line-height: 0.125rem;
}

.earn-card-color {
    color: rgb(47, 255, 127);

}

.earn-card-1 {
    line-height: 0.125rem;
}

        
.e-font {
    font-size: 0.625rem;
    opacity: 80%;
}

.earn-card-b {
    border-bottom: 1px solid;
    padding-bottom: 1.875rem;
}