/* @import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
} */

.submit-btn {
  font-family: 'Anek Malayalam', sans-serif;
  background: #f5b40d;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  color: #ffffff;
  min-width: 12.5;
  min-height: 2.25rem;
  cursor: pointer;
  outline: none;
}

.submit-btn1:disabled {
  /* background: #6d8bdf !important; */
  color: #eef0f3;
  cursor: not-allowed;
} 

.form-login-btn {
  background-color: rgba(5, 74, 202, 0.575);
  padding: 0.938rem;
  border-radius: 0.813rem;
  color: whitesmoke;
  font-size: 1.063rem;
  opacity: 70%;

}

.spinner {
  background-color: transparent ; 
  padding: 0.563rem;
  border-radius: 0.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
