/* Colors */
.default_color {
  background-color: #383749 !important;
}
.main-color {
  background-color: #383749;
}
.main-color-1 {
  background-color: #0842e0;
}
.main-color-2 {
  background-color: #2e0533;
}
.main-color-3 {
  background-color: #91097f;
}
.main-color-4 {
  background-color: #383749;
}
.main-color-5 {
  background-color: #383749;
}

.main-color1 {
  background-color: #383749; 
}

.g-sub-color{
  background-color: #383749;
}

.div-color {
  background-color: #383749;

}

.odd-color {
  background-color: #383749;
}

.bet-color {
  background-color: #383749;

}

.u-color {
  background-color: #383749;

}

.wrap-text {
  overflow-wrap: break-word; /* For modern browsers */
  word-wrap: break-word; /* For older browsers */
}

.orange {
  background-color: #bc8a00;
}

.light-green-1 {
  background-color: #3fff20;
}
.light-green-2 {
  background-color: #7cffe7;
}

.grey {
  background-color: #747873;
}
.white {
  background-color: #aaacaf;
}
.pink {
  background-color: #ff5cdb;
}
.blue {
  background-color: #0d6efd;
}

/* End */