/* Colors */
.default_color {
  background-color: rgb(1, 1, 54) !important;
}
.main-color {
  background-color: #02123D;
}
.main-color-1 {
  background-color: #0842e0;
}
.main-color-2 {
  background-color: #2e0533;
}
.main-color-3 {
  background-color: #91097f;
}
.main-color-4 {
  background-color: #0e070d;
}
.main-color-5 {
  background-color: #0d0714;
}

.main-color1 {
  background-color: rgb(8, 34, 87); 
}

.g-sub-color{
  background-color: rgb(11, 11, 116);
}

.div-color {
  background-color: rgba(5, 5, 68, 0.548);

}

.odd-color {
  background-color: rgb(7, 24, 59);
}

.bet-color {
  background-color: rgb(7, 24, 59);

}

.u-color {
  background-color: rgba(18, 65, 158, 0.438);

}

.wrap-text {
  overflow-wrap: break-word; /* For modern browsers */
  word-wrap: break-word; /* For older browsers */
}

.orange {
  background-color: #bc8a00;
}

.light-green-1 {
  background-color: #3fff20;
}
.light-green-2 {
  background-color: #7cffe7;
}

.grey {
  background-color: #747873;
}
.white {
  background-color: #aaacaf;
}
.pink {
  background-color: #ff5cdb;
}
.blue {
  background-color: #0d6efd;
}

/* End */