/* Colors */
.g-sub-color {
  background-color: rgb(11, 11, 116);
}

.odd-div {
  background-color: rgba(5, 5, 68, 0.548);

}

.odd-cs {
  background-color: rgb(7, 24, 59);
}

.bet-color {
  background-color: rgb(7, 24, 59);

}

/* End */

/* Default button styles */
.button {
  border: none;
  padding: 0.625rem 1.875rem ;
  cursor: pointer;
  outline: none;
  font-size: 1.063rem;
  text-decoration: none;
}

/* Styles for the active button */
.active {
  background-color: #007bff;
  /* Blue background color */
  color: #fff;
  /* White text color */
  border-radius: 1.125rem;
  
  /* Rounded corners */
}


.a {
  background-color: red;
}



