.nodata {
  /* margin-top: -3000px; */
}

.at-font{
  font-size: 12px;
}

.at-line{
  line-height: 0px;
}

@media screen and (min-width: 530px) { /* Adjust breakpoint as needed */
    body {
      max-width: 31.25rem; /* Example maximum width */
      margin: 0 auto; /* Center the container horizontally */
     
    }
  }