/* Colors */
.g-sub-color {
  background-color: #02123D;
}

.odd-div {
  background-color: rgba(5, 5, 68, 0.548);

}

.odd-cs {
  background-color: rgb(7, 24, 59);
}

.bet-color {
  background-color: rgb(7, 24, 59);

}

/* End */

.form-div {

}

.form-login {
  
}

.form-signup {

}

.form-username {
  padding: 0.625rem 0 0.625rem 3.125rem;
  color: whitesmoke;
}

.form-username::placeholder {
  background-color: #02123D;
  color: wheat;
  opacity: 80%;
}
.form-username:focus {
  background-color: #02123D;
  color: wheat;
}

.form-password {
    padding: 0.625rem 1.25rem 0.625rem 3.125rem;
    color: whitesmoke;

}

.form-password::placeholder {
  background-color: #02123D;
  color: wheat;
  opacity: 80%;
}

.form-password:focus {
  background-color: #02123D;
  color: wheat;
}

.form-forget {

}

.form-login-btn {
  background-color: rgba(5, 74, 202, 0.575);
  padding: 0.938rem;
  border-radius: 0.813rem;
  color: whitesmoke;
  font-size: 1.063rem;
  opacity: 70%;

}

.form-have-account {

}

.sign-up {

}
/* fa-lg,
fa-2x,
fa-3x,
fa-4x,
fa-5x,
or fa-10x */
#envelope {
  background-color: transparent;
  padding-top: 0;
  padding-left: 0.5rem;

}

#key {
  background-color: transparent;
  padding-top: 1.125rem;
  padding-left: 0.5rem;
  
}

#toggle2 {
  position: absolute;
  margin-left: 18.438rem;
  margin-top: -1.875rem;
}

