*{
  margin: 0;
  padding: 0;
  background-color: rgb(1, 1, 54);
  color: white;
}

@media screen and (min-width: 530px) { /* Adjust breakpoint as needed */
  body {
    max-width: 500px; /* Example maximum width */
    margin: 0 auto; /* Center the container horizontally */
   
  }
}